<ion-view view-title="">
  <ion-content>
    <div class="row">
      <div class="col col-100">
        <div class="item" >
          <h2>Accident reporting confirmation</h2>
        </div>
        <div class="item item-body">
          <div class="row">
            <div class="col col-50">
              <button class="button-full button" ng-click="cancelAccidentReporting()">Cancel</button>
            </div>
            <div class="col col-50">
              <button class="button-full button button-positive" ng-click="reportingAccident()">Report</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row" ng-if = "data.loading" style="text-align: center;font-size: 14px;">
      <div class="col col-100">
        <ion-spinner icon="ios"></ion-spinner>
      </div>
    </div>
  </ion-content>
</ion-view>
