<ion-view view-title="iROAD 2.0">
  <ion-content>
    <div class="row">
      <div class="col col-100">
        <label class="item item-input item-floating-label">
          <span class="input-label">Driver Licence Number</span>
          <input type="text" placeholder="Driver Licence Number" ng-model="data.driverLicenceNumber">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col col-75">
        <button class="button button-full button-positive" ng-click="verifyDriver()">
          Verify Driver
        </button>
      </div>
      <div class="col col-25" >
        <button class="button button-full button-positive"  ng-click="scanDriverLicence()">
          <i class="fa fa-barcode fa-2x"></i>
        </button>
      </div>
    </div>

    <div class="row" ng-if="data.driver">
      <div class="col col-100">
        <div class="item item-avatar" >
          <img ng-src="{{ data.driverPhotoUrl }}">
          <h2>{{ data.driver['Full Name'] }}</h2>
          <p>{{ data.driver['Gender'] }}</p>
        </div>

        <div class="item item-body">
          <p ng-repeat="(key,value) in data.driver"  ng-if = " key == 'TIN Number' || key == 'Driving Class Name' || key == 'Phone Number' ">
            {{ key }} : <br>
            <span style="color: #007aff;">{{ data.driver[key] }}</span>
          </p>
        </div>
      </div>

    </div>

    <div class="row" ng-if = "data.offenceData || data.accidentData" style=" padding-bottom: 15%;">
      <div class="col col-100">
        <div class="item item-avatar" >
          <h2> Driver Rap sheet </h2>
        </div>
        <div class="item item-body">
          <p>Number of accidents : <span style="color: #007aff;"> {{ data.accidentData.length }}</span></p>
          <p>Number of Offenses : <span style="color: #007aff;"> {{ data.offenceData.length }} </span></p>

          <button ng-if = "data.accidentData.length > 0" ng-click="rapSheetReport('accident')" class="button button-full button-positive">Accident History</button>
          <button ng-if = "data.offenceData.length > 0" ng-click="rapSheetReport('offense')" class="button button-full button-positive">Offense History</button>
        </div>
      </div>

    </div>


    <div class="row" ng-if = "data.loading" style="text-align: center;font-size: 14px;margin-top: 2%;">
      <div class="col col-100">
        <ion-spinner icon="ios"></ion-spinner>
      </div>
    </div>

  </ion-content>
</ion-view>
