<ion-view view-title="iROAD 2.0">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img ng-src="img/logo.png">
        <h2>iROAD 2.0 App</h2>
        <p>Mobile reporting at your fingertips </p>
      </div>

      <div class="item item-body">
        <img ng-src="img/home_page.png" width="100%">
        <p>
          This is most responsive mobile app for reporting accidents and offenses
          as well as verify vehicle and driver information instantly
        </p>
      </div>

    </div>
    <!--<div class="row">
      <div class="col col-100">


        <h4>Welcome to iRoad 2.0 Mobile app.</h4>
        <img ng-src="img/home_page.png" width="100%">
      </div>
    </div>

    <div class="row">
      <div class="col col-100">
        <a ng-click="reportAccident()" class="button button-full button-positive">Report accident</a>
        <a ng-click="reportOffense()" class="button button-full button-positive">Report Offense</a>
        <a ui-sref="driverVerification" class="button button-full button-positive">Verify Driver</a>
        <a ui-sref="vehicleVerification" class="button button-full button-positive">Verify Vehicle</a>
      </div>
    </div>-->
  </ion-content>
</ion-view>

