<ion-view view-title="iROAD 2.0">
  <ion-content>
      <div class="row">
        <div class="col col-100">
          <h4>Welcome to iRoad 2.0 Mobile app.</h4>
          <img src="img/home_page.png" width="100%">
        </div>
      </div>

      <!--<div class="row">
        <div class="col col-100">
          <a ui-sref="app.reportAccident" class="button button-full button-positive">Report accident</a>
          <a ui-sref="app.reportOffense" class="button button-full button-positive">Report Offense</a>
          <a ui-sref="app.driverVerification" class="button button-full button-positive">Verify Driver</a>
          <a ui-sref="app.vehicleVerification" class="button button-full button-positive">Verify Vehicle</a>
        </div>
      </div>-->
  </ion-content>
</ion-view>

