<ion-view view-title="iROAD 2.0">
  <ion-content>
    <div class="row">
      <div class="col col-100">
        <div class="item" >
          <h2 align="center">Reporting offense</h2>
        </div>
        <div class="item item-body">
          <!-- driver, vehicle and attendant -->
          <div class="col col-100">
            <b>Driver License Number</b><br>
            <label class="item item-input">
              <input type="text" placeholder="Driver License Number" ng-model="data.licenseNumber">
            </label>
          </div>
          <div class="col col-100">
            <b>Vehicle Plate Number</b><br>
            <label class="item item-input">
              <input type="text" placeholder="Vehicle Plate Number" ng-model="data.plateNumber">
            </label>
          </div>
          <div class="col col-100">
            <b>Offense Attendant</b><br>
            <label class="item item-input">
              <input type="text" placeholder="Offense Attendant" ng-model="data.attendant">
            </label>
          </div>
          <!-- Other form fields -->
          <div ng-repeat="(key,value) in reportingForms.dataElements" ng-if="key == 'Offence Admission Status' || key == 'Offence Facts' || key == 'Offence Date'" >
            <div class="col col-100">
              <div ng-if="isInteger(key)">
                <b>{{key}}</b><br>
                <label class="item item-input">
                  <input type="number" placeholder="{{ key }}" ng-model="data.newOffense[key]">
                </label>
              </div>
              <div ng-if="isDate(key)">
                <b>{{key}}</b><br>
                <label class="item item-input">
                  <input type="text" ui-date placeholder="{{ key }}" ng-model="data.newOffense[key]">
                </label>
              </div>
              <div ng-if="isString(key) && !hasDataSets(key)">
                <b>{{key}}</b><br>
                <label class="item item-input">
                  <input type="text" placeholder="{{ key }}" ng-model="data.newOffense[key]">
                </label>
              </div>
              <div ng-if="hasDataSets(key)">
                <b>{{key}}</b><br>
                <div class="item item-input item-select" >
                  <div class="input-label" >
                  </div>
                  <select ng-model="data.newOffense[key]">
                    <option value="">Choose option</option>
                    <option ng-repeat="item in getOptionSets(key)" > {{ item.name }}</option>
                  </select>
                </div>
              </div>
              <div ng-if="isBoolean(key)">
                <b>{{key}}</b><br>
                <div class="item item-input item-select" >
                  <div class="input-label" >
                  </div>
                  <select ng-model="data.newOffense[key]">
                    <option value="">Choose option</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <button class="button button-full button-positive" ng-click="openOffenseModal()">Select Offenses</button>
          <button class="button button-full button-positive" ng-click="prepareOffenseDataForSubmission()">Next</button>
        </div>
      </div>
    </div>

    <div class="row" ng-if = "data.loading" style="text-align: center;font-size: 14px;">
      <div class="col col-100">
        <ion-spinner icon="ios"></ion-spinner>
      </div>
    </div>
  </ion-content>
</ion-view>
