<ion-view view-title="iROAD 2.0">
  <ion-content>
    <div class="row">
      <div class="col col-100">
        <div class="item" >
          <h2 align="center">Reporting Accidents</h2>
          <p align="center">Media Capture</p>
        </div>
        <div class="item item-body">
          <div class="row">

            <div class="col col-33">
              <button ng-click="takePhoto()" type="button" class="button button-full button-positive">
                <i class="icon ion-camera"></i>
              </button>
            </div>

            <div class="col col-33">
              <button ng-click="selectImage()" type="button" class="button button-full button-positive">
                <i class="icon ion-images"></i>
              </button>
            </div>

            <div class="col col-33">
              <button ng-click="takeVideo()" type="button" class="button button-full button-positive">
                <i class="icon ion-videocamera"></i>
              </button>
            </div>

          </div>
          <button ng-click="reportAccidentForm()" class="button button-full button-positive" >Report</button>
        </div>
      </div>
    </div>

    <div class="row" ng-if = "data.loading" style="text-align: center;font-size: 14px;">
      <div class="col col-100">
        <ion-spinner icon="ios"></ion-spinner>
      </div>
    </div>

  </ion-content>
</ion-view>
