<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" >
      <span ng-if="data.rapSheetType == 'accident'">Accident History</span>
      <span ng-if="data.rapSheetType == 'offense'">Offense History</span>
    </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRapSheetHistory()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

    <!-- accident history -->
    <div class="row" ng-if="data.rapSheetType == 'accident'">
      <div class="col col-100">
        <div class="card" ng-repeat="accident in data.accidentData">
          <div class="item item-text-wrap">
            <span>Driver Name</span><br>
            <span style="color: #007aff;">{{accident.Driver['Full Name']}}</span><br>
            <span>Driver License Name</span><br>
            <span style="color: #007aff;">{{accident.Driver['Driver License Number']}}</span><br>
            <span>Area of Accident </span><br>
            <span style="color: #007aff;">{{accident.Accident['Area of Accident']}}</span><br>
            <span>Date &amp; Time of Accident </span><br>
            <span style="color: #007aff;">{{accident.Accident['Time of Accident']}}</span><br>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="data.rapSheetType == 'offense'">
      <div class="col col-100">
        <div class="card" ng-repeat="offense in data.offenceData">
          <div class="item item-text-wrap">
            <span>Driver Name</span><br>
            <span style="color: #007aff;">{{offense.Driver['Full Name']}}</span><br>
            <span>Driver License Name</span><br>
            <span style="color: #007aff;">{{offense.Driver['Driver License Number']}}</span><br>
            <span>Area of Offense</span><br>
            <span style="color: #007aff;">{{offense['Offence Place']}}</span><br>
            <span>Offence Date</span><br>
            <span style="color: #007aff;">{{offense['Offence Date']}}</span><br>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
