<ion-view view-title="iROAD 2.0">
  <ion-content>
    <div class="row">
      <div class="col col-100">
        <label class="item item-input item-floating-label">
          <span class="input-label">Vehicle Plate Number</span>
          <input type="text" placeholder="Vehicle Plate Number" ng-model="data.vehiclePlateNumber">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col col-100">
        <button class="button button-full button-positive" ng-click="verifyVehicle()">
          Verify Vehicle
        </button>
      </div>
    </div>
    <!-- vehicle verification data -->
    <div class="row" ng-if="data.vehicle">
      <div class="col col-100">
        <div class="item " >
          <h2>{{ data.vehicle['Vehicle Plate Number/Registration Number'] }}</h2>
          <p>{{ data.vehicle['Make'] }} {{ data.vehicle['Model'] }}</p>
          <p><b>Color</b> : {{ data.vehicle['Color'] }}</p>
        </div>
        <div class="item item-body">
          <p ng-repeat="(key,value) in data.vehicle"  ng-if = "key == 'Body Type' || key == 'Chasis Numberr'|| key == 'Number of Axial Seating'|| key == 'Capacity Engine Capacity'|| key == 'Model number' || key == 'Current License Expiry Date' || key == 'Vehicle Class' || key == 'Year of Make' ">
            {{ key }} : <br>
            <span style="color: #007aff;">{{ data.vehicle[key] }}</span>
          </p>
        </div>
      </div>
    </div>
    <!-- vehicle rap sheet -->
    <div class="row" ng-if = "data.offenceData || data.accidentData" style=" padding-bottom: 15%;">
      <div class="col col-100">
        <div class="item item-avatar" >
          <h2> Vehicle Rap sheet </h2>
        </div>
        <div class="item item-body">
          <p>Number of accidents : <span style="color: #007aff;"> {{ data.accidentData.length }}</span></p>
          <p>Number of Offenses : <span style="color: #007aff;"> {{ data.offenceData.length }} </span></p>

          <button ng-if = "data.accidentData.length > 0" ng-click="rapSheetReport('accident')" class="button button-full button-positive">Accident History</button>
          <button ng-if = "data.offenceData.length > 0" ng-click="rapSheetReport('offense')" class="button button-full button-positive">Offense History</button>
        </div>
      </div>

    </div>

    <div class="row" ng-if = "data.loading" style="text-align: center;font-size: 14px;margin-top: 2%;">
      <div class="col col-100">
        <ion-spinner icon="ios"></ion-spinner>
      </div>
    </div>

  </ion-content>
</ion-view>
