<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.ionicframework.iroad726992" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>iRoad - ionic</name>
  <description>
        An Ionic Framework and Cordova project for Mobile app for accessing iROAD system.
    </description>
  <author email="profschingalo@gmail.com" href="https://demo-josephsite.rhcloud.com/">
      Joseph Chingalo
    </author>
  <content src="index.html"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <gap:plugin name="cordova-plugin-whitelist" source="npm" version="~1" />
  <plugin name="cordova-plugin-whitelist" version="~1" />
  <plugin name="cordova-plugin-whitelist" spec="~1" />

  <access origin="http://*" />
  <feature name="http://api.phonegap.com/1.0/network"/>
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
  <platform name="winphone" />


  <icon src="ic_launcher.png" width="170" height="170" />

  <!--third party plugin-->
  <plugin name="com.phonegap.plugins.barcodescanner" spec="2.0.0" source="pgb" />
  <gap:plugin name="org.apache.cordova.media-capture" source = "pgb"/>
  <gap:plugin name="org.apache.cordova.contacts" source = "pgb"/>
  <gap:plugin name="org.apache.cordova.device" source = "pgb"/>
  <gap:plugin name="org.apache.cordova.device-motion" source = "pgb"/>
  <gap:plugin name="org.apache.cordova.file" source = "pgb"/>
  <gap:plugin name="org.apache.cordova.file-transfer" source = "pgb"/>
  <gap:plugin name="org.apache.cordova.geolocation" source = "pgb"/>
  <gap:plugin name="org.apache.cordova.inappbrowser" source = "pgb"/>
  <gap:plugin name="org.apache.cordova.media" source = "pgb"/>
  <gap:plugin name="org.apache.cordova.network-information" source = "pgb" />



</widget>
